@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html {
    scroll-behavior:smooth;
}

p {
    font-family: 'Poppins', sans-serif;
}

span {
    font-family: "Delius Unicase", cursive;
}


body {
    background-color: black;
}

body::-webkit-scrollbar {
    width: 4px;  
    height: 4px; 
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px; 
    background-color: gray;
}

body:hover::-webkit-scrollbar {
    width: 4px; 
    height: 4px; 
}


